body {
    font-family: 'Roboto', sans-serif;
}

.content {
  margin-left: auto;
  margin-right: auto;
  color: #4b545d;
  text-align: center;
}

#greeting-container {
  margin-top: 20px;
}

nav {
    display: flex;
    height: 3em;
    background-color: #4b545d;
}

nav a {
    padding: 1em;
    color: white;
    text-decoration: none;
    transition-duration: 0.4s;
}

nav a:hover {
    background-color: #66b3ff;
}

ul {
    text-align: left;
}

.active {
    background-color: #3399ff;
}

footer {
    background-color: #4b545d;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    height: 2em;
    padding: 5px;
}

.head {
    background-image: url(/images/Landscape1.jpg);
    height: 100em;
    background-position: center center;
}

.info {
    text-align: center;
    color: white;
}

#landscapeImage {
    width: 75%;
    height: 50%;
}

button {
    border-radius: 5px;
    background-color: #3399ff;
    color: white;
    margin: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.logo {
    height: 30px;
    width: 30px;
    margin: 30px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.hidden {
    display: none;
}